/**********/
/* Global */
/**********/

.input-field label {
    color: #D1D1D1;
}

.input-field input[type=text]:focus + label {
    color: #43a047;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #43a047;
    box-shadow: 0 1px 0 0 #43a047;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #43a047;
    box-shadow: 0 1px 0 0 #43a047;
}

.section-header {
    color: #9E9E9E;
    font-family: 'courier', monospace;
    margin-top: 2.5em;
    text-align: center;
}

.details-header {
    font-family: 'courier', monospace;
    text-align: center;
}

/**********/
/* Header */
/**********/

.header {
    padding: 2em 0 1.5em;
}

.header .site-logo {
    color: #ffffff;
    font-family: 'courier', monospace;
    font-size: 2em;
    padding-bottom: 0.2em;
    text-shadow: .1em .1em #2e7d32;
}

.header .subtitle {
    color: #f3f3f3;
    font-size: 0.8em;
    text-shadow: .05em .05em #2e7d32;
}

.gross-salary-container {
    background-color: #ffffff;
    border: 1px solid #388e3c;
    border-radius: 2px;
    height: 7.5em;
    margin-top: 2em;
    padding: 2.5em 0px;
}

.gross-salary {
    color: #43a047;
    margin-top: 2.3em;
    padding-top: 1em;
}

.gross-salary input {
    border-color: #ffffff;
    font-size: 1.8em;
    text-align: center;
}

.gross-salary label {
    left: 0px;
    text-align: center;
    width: 100%;
}

/**********************/
/* Student Loan Input */
/**********************/

.student-loan-button {
    font-size: .8em;
    margin-bottom: .8em;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

/******************/
/* Expenses input */
/******************/

.add-button {
    margin: 0px auto;
}

.delete-button {
    display: none;
    border-radius: 0px;
    font-size: .7em;
    height: 1.5em;
    line-height: 1.5em;
    padding: .4em;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.expenses li {
    height: 5em;
}

.expenses li:hover .delete-button {
    display: block;
}

.expense-cost {
    font-family: 'courier', monospace;
}

/***********/
/* Results */
/***********/

.results {
    margin: -10px 0px;
}

.results div {
    margin: 10px 0px;
}

.amount {
    float: right;
    font-family: 'courier', monospace;
}

.neg {
    color: #e57373;
}

.divider {
    background-color: #485E68;
}

.remaining {
    color: #ffffff;
    font-family: 'courier', monospace;
    font-size: 1.8em;
    text-align: center;
}

.resultsDisabled span, .resultsDisabled .remaining {
    color: #435E69;
}

/**********/
/* Footer */
/**********/

.footer {
    color: #9E9E9E;
    font-family: 'courier', monospace;
    font-size: 0.8em;
    margin-top: 2em;
}

.footer a:link, .footer a:visited {
    color: #43a047;
}

.footer a:hover, .footer a:active {
    color: #9E9E9E;
}
